---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

import ContactForm from "@/layouts/components/ContactForm.astro";


const entry = await getEntryBySlug("pages", "contact");
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 class="h2 page-heading" set:html={markdownify(title)} />
      <div class="row md:gx-5 gy-5">
        <div class="sm:col-5 md:col-4">
          <p class="mb-8 text-2xl font-bold text-theme-dark">Contact Info</p>
          <ul class="flex flex-col space-y-8">
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaAddressCard className="mr-3 text-primary" />                <p class="font-semibold">Address</p>
              </div>
              <p class="mt-2 leading-5 pl-8" set:html={markdownify(address)} />
            </li>
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaEnvelope className="mr-3 text-primary" />
                <p class="font-semibold">Email</p>
              </div>
              <p class="mt-2 leading-5 pl-8 content" set:html={markdownify(email)} />
            </li>
            <!--- 
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaPhoneAlt className="mr-3 text-primary" />
                <p class="font-semibold">Phone</p>
              </div>
              <p class="mt-2 leading-5 pl-8" set:html={markdownify(phone)} />
            </li>
             -->
          </ul>
        </div>
        <div class="sm:col-7 md:col-8">
          <ContactForm />
        </div>
      </div>
    </div>
  </section>
  
</Base>


